html {
    color-scheme: dark;
}

body {
    color: #FBFBFE;
    background-color: #15141A;
}

h1 {
    text-align: center;
}

#nav {
    /* Layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1em;
    /* Position */
    position: sticky;
    top: 0;
    /* Color */
    background-color: var(--panel-bg);
    backdrop-filter: blur(10px);

    >a {
        padding: 1em;

        &:hover, &[data-active] {
            color: var(--link);
            background-color: var(--quote-bg);
        }
    }
}

#panels {
    display: flex;
    justify-content: center;

    >div {
        width: 100%;
        display: none;

        &[data-active] {
            display: initial;
        }
    }
}

#float-buttons {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    user-select: none;
    opacity: 0.8;
    z-index: 5;

    >a {
        margin: 0.5em 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: var(--quote-text);
        background-color: var(--quote-bg);
        border-radius: 50%;
        width: 2em;
        height: 2em;
        font-size: 1.5em;
        font-weight: bold;

        &[data-busy] {
            opacity: 0.5;
            cursor: progress;
        }
    }
}

.datatable-wrapper[data-busy] {
    opacity: 0.6;
    cursor: progress;
}
