html {
    color-scheme: dark;
}

body {
    color: #FBFBFE;
    background-color: #15141A;
}

h1 {
    text-align: center;
}

#panels {
    div {
        display: none;

        &[data-active] {
            display: initial;
        }
    }
}
