:root {
    --background: #15141A;
    --link: #74A9f6;
    --text: #FBFBFE;
    --text-dim: #CFCFD8;
    --border: #fbfbfe;
    --border-dim: #52525e;
    --selected-text: #FBFBFE;
    --selected-bg: #2a76e9a1;
    --formula: #FBFBFE;
    --quote-bg: #1f242c;
    --quote-text: #CFCFD8;
    --quote-left: #d3d3d3;
    --code-text: #abb2bf;
    --code-bg: #282c34;
    --panel-bg: #1d263cbd;
}

html {
    color-scheme: dark;
}

body {
    color: var(--text);
    background-color: var(--background);
    scrollbar-width: thin;
    scrollbar-color: rgba(93, 125, 171, 0.9) transparent;

}

h1 {
    text-align: center;
}

a {
    color: var(--text-dim);
    transition: color 0.2s ease-in-out;

    &:hover {
        color: var(--link);
    }
}

table {
    border: 1px solid var(--border-dim);
    border-collapse: collapse;
    margin: 0.5rem 0;
    width: auto;
    font-size: .875em;

    td,
    th {
        padding: 0.5rem 0.75rem;
        border: 1px solid var(--border-dim);
        vertical-align: middle;
    }
}

::selection {
    color: var(--selected-text);
    background: var(--selected-bg);
}
