:root {
    --background: #15141A;
    --link: #74A9f6;
    --text: #FBFBFE;
    --text-dim: #CFCFD8;
    --border: #fbfbfe;
    --border-dim: #52525e;
    --selected-text: #FBFBFE;
    --selected-bg: #2a76e9a1;
    --formula: #FBFBFE;
    --quote-bg: #1f242c;
    --quote-text: #CFCFD8;
    --quote-left: #d3d3d3;
    --code-text: #abb2bf;
    --code-bg: #282c34;
    --panel-bg: #1d263cbd;
}

html {
    color-scheme: dark;
    scroll-behavior: smooth;
}

body {
    color: var(--text);
    background-color: var(--background);
    scrollbar-width: thin;
    scrollbar-color: rgba(93, 125, 171, 0.9) transparent;
}

h1,
h2 {
    text-align: center;
}

a {
    color: var(--text-dim);
    transition: color 0.2s ease-in-out;

    &:hover {
        color: var(--link);
    }
}

ul {
    padding-inline-start: 1em;
}

form.update {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

::selection {
    color: var(--selected-text);
    background: var(--selected-bg);
}