html {
    color-scheme: dark;
}

body {
    color: #FBFBFE;
    background-color: #15141A;
}

h1 {
    text-align: center;
}

#nav {
    /* Layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1em;
    /* Position */
    position: sticky;
    top: 0;
    /* Color */
    background-color: var(--panel-bg);
    backdrop-filter: blur(10px);

    >a {
        padding: 1em;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: color 0.2s ease-in-out, border-bottom 0.2s ease-in-out;

        &:hover {
            color: var(--link);
        }

        &[data-active] {
            color: var(--text);
            border-bottom: 2px solid var(--border);
        }
    }
}

#panels {
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;

    >div {
        width: 100%;
        display: none;

        &[data-active] {
            display: initial;
        }
    }
}

#float-buttons {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    user-select: none;
    opacity: 0.8;
    z-index: 5;

    >a {
        opacity: 0.6;
        margin: 0.5em 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: var(--quote-text);
        background-color: var(--quote-bg);
        border-radius: 50%;
        width: 2em;
        height: 2em;
        font-size: 1.5em;
        font-weight: bold;
        transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;

        &:hover {
            opacity: 1;
            transform: scale(1.1);
        }
    }
}

[data-busy] {
    opacity: 0.6;
    cursor: progress;

    * {
        pointer-events: none;
    }
}
